/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content:     none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
    ---------------------
    ---------------------
            FONT
    ---------------------
    ---------------------    
*/
body {
    font-family: 'Cabin Condensed', sans-serif;
    overflow-x: hidden;
}
.intro h1,
.intro h2,
.summary,
.preamble h3,
.select,
.archives,
.resources,
.explanation h3,
.participation h3,
.benefits,
.requirements h3,
footer {
    font-family: "Lobster", cursive;    
}
.intro h1,
.summary {
    color: #3a170d;
}
.intro h2,
.preamble h3,
.explanation h3 {
    color: #5C2F27;
}
.explanation p {
    color: #F6EDCE;
}
.participation,
.benefits,
.requirements{
    color: #333;
}
h1 {
    font-size: 44px;
    font-weight: 800;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}



/*
    --------------------
    --------------------
        BOX MODEL
    --------------------
    --------------------
*/
.page-wrapper {
    width: 100vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.page-wrapper > * {
    overflow-x: hidden;
    overflow-y: hidden;
}
.intro {
    background: lightgreen;
}
.main {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
.sidebar {
    background: #3a170d;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.select,
.archives,
.resources {
    color: #FDBA55;
}
.explanation,
.participation,
.benefits,
.requirements,
.footer {
    width: 100vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*
    -----------------------
    -----------------------
            INTRO
    -----------------------
    -----------------------
*/
.intro {
    background-color: #F6EDCE;
    overflow-y: hidden;
    height: 677vh;
    max-width: 90vw;
    border-bottom: 60px solid #5C2F27;
    padding: 6%;
}
header {
    max-width: 100vw;
    max-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 1%;
}
/* "CSS Zen Garden" */
h1 {
    font-size: 3em;
    text-decoration: underline;
    margin-top: -4%;
    margin-bottom: 3%;
    text-align: left;
    position: relative;
    left: 2%;
}

/* "The Beauty of CSS Design" */
h2 {
    font-size: 12em;
    letter-spacing: 12px;
    padding: 1%;
}
h2::after{
    content: url(images/coffee-hot-cup.png);
    margin-left: 3%;
}

/* Subtitle */
.summary {
    margin-top: 2%;
    letter-spacing: 1.2px;
    font-size: 1.4em;
    line-height: 1.2;
    letter-spacing: 1.8px;
    font-weight: 800;
    padding-bottom: 1%;
}
.preamble {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 600vh;
}
.preamble*> {
    position: relative;
}
.preamble h3 {
    font-size: 7em;
    font-family: "Lobster", cursive;
}
.preamble p {
    font-size: 2.5em;
}
.preamble h3 {
    position: relative;
    padding-left: 8%;
    top: 20%;
}
.preamble p:first-of-type {
    padding-left: 15%;
}
.preamble p:first-of-type {
    position: relative;
    max-width: 80%;
}
.preamble p:nth-child(3) {
    position: relative;
    bottom: 20%;
    left: 35%;
    width: 50%;
}
.preamble p:nth-child(4) {
    position: relative;
    bottom: 35%;
    width: 60%;
}

.preamble {
    background-image: url(images/day8_0.png);
    background-repeat: no-repeat;
    background-size: cover;
}











/*
    ----------------------
    ----------------------
        SIDEBAR 
        * Select a design
        * Archives
        * Resources
    ----------------------
    ----------------------
*/ 
.sidebar {
    padding: 30% 0;   
}
.sidebar a {
    text-decoration: none;
    color: white;
}
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-orient: horizontal;  
    -webkit-box-direction: normal;  
    -ms-flex-flow: row wrap;  
    flex-flow: row wrap;
    background: url(./images/donut.png) center/contain no-repeat;
    margin-bottom: 10%;
}
.design-selection {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2 100%;
    margin-bottom: 5%;
}
.design-selection > * 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/* "Select a Design */
.select {
    font-size: 6em;
    padding: 3%;
    margin-bottom: 3%;
}
.design-selection ul {
    width: 28vw;
    height: 48vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 2%;
    background-color: #333;
    border: 10px solid #fdba55;
    border-radius: 6px;
    margin-bottom: 5%;
}
.design-selection ul,
.design-archives ul,
.zen-resources ul {
    opacity: 0.8;
}
.design-selection li {
    font-size: 1.3em;
    color: #fff;
    font-weight: 600;
    margin-left: 10%;
}
.design-name{
    margin-right: 1%;
}
.designer-name {
    margin-left: 1%;
}
.design-archives,
.zen-resources {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.design-archives > *,
.zen-resources > * {
    margin: 0 auto;
}
.archives,
.resources {
    font-size: 3em;
    padding: 0 0 5% 0;
}
.design-archives ul,
.zen-resources ul {
    font-size: 1.5em;
}
.design-archives li:not(last-of-type),
.zen-resources li:not(last-of-type) {
    margin-bottom: 5%;
    padding: 22px;
    text-align: center;
    -webkit-box-shadow: -2px 5px 2px #333;
    box-shadow: 2px 5px 2px #;
}
.design-archives li,
.zen-resources li {
    background: #333333;
    border: 5px solid #FDBA55;
    border-radius: 6px;
}
.design-archives {
    border-right: 2px solid #FDBA55;
}











/*
    ----------------------------
    ----------------------------
        MAIN:
        * So what is this about?
        * Participation
        * Benefits
        * Requirements
        * Footer w/buiscuits 
    ----------------------------
    ----------------------------
*/

/*
    ----------------------
    So what is this about?
    ----------------------
*/
.explanation {
    background: #DAF7DC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    padding: 50% 16%;
}
.explanation > * {
    -ms-flex-item-align: center;
    align-self: center;
}
.explanation h3 {
    font-size: 4em;
    margin-bottom: 2%;
}
.explanation p{
    max-width: 50%;
    background: #5C2F27;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 0;
    padding: 0 2%;
}
.explanation p {
    border: 25px outset #3a170d;
}
.explanation p:first-of-type {
    padding-top: 2%;
    border-bottom: hidden;
    padding-bottom: 2%;
}
.explanation p:last-of-type {
    padding-bottom: 2%; 
    border-top: hidden;
}

/*
    --------------------------
        Participation
    --------------------------

*/
.participation {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: url(images/cupcake.png) no-repeat 88% 80%;
    background-color: #B6D5B3;
}

.participation>* {
    max-width: 50%;
    position: relative;
    top: 5vh;
    left: 15vh;
    background: #FEBA55;
    padding: 0 4%;
    z-index: 1;
    -webkit-box-shadow: 0 2px 2px 0px #333;
    box-shadow: 0 2px 2px 0px #333; 
}
.participation h3 {
    font-size: 8em;
    padding-top: 4%;
    padding-bottom: 4%;
}
.participation p {
    font-size: 1.5em;
    line-height: 1.38;
    letter-spacing: 2px;
    padding-bottom: .5%;
}
.participation p:last-of-type {
    padding-bottom: 8%;
}


/*
    -----------------------
        Benefits
    -----------------------
*/
.benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50% 20%;
    background: url(./images/coffe-circle-stain.png) no-repeat 73% 63.4%; 
    background-color: #FFEAC1;
}
.benefits>* {
    -ms-flex-item-align: center;
    align-self: center;
}
.benefits h3 {
    font-size: 10em;
    letter-spacing: 10px;
    margin-bottom: 10%;
}
.benefits p {
    width: 75%;
    font-size: 1.5em;
    letter-spacing: 0.6px;
    line-height: 1.5
}

/*
    -------------------------
        Requirements
    -------------------------
*/
.requirements,
footer {
    background-color: #ffcdb2;
}
.requirements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20% 25%;
}
.requirements>* {
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
}
.requirements h3 {
    font-size: 12em;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 16%
}
.requirements p {
    width: 146%;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: justify;
    font-size: 2em;
    line-height: 1.5;
    letter-spacing: 2px;
}
.requirements p:nth-child(5) {
    margin-bottom: 25%;
}
.requirements p:last-of-type {
    border-top: 6px solid #333;
    padding-top: 6%;
}

/*
    --------------------------
            Footer
    --------------------------
*/
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    padding: 300% 20% 0 20%;
    border: 1px solid black;
}
footer a {
    text-decoration: none;
    color: #333;
    text-transform: lowercase;
    font-size: 6em;

}
footer {
    background: url(images/milk.png) bottom no-repeat;
    background-color: #ffcdb2;
}


    
