/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
    ---------------------
    ---------------------
            FONT
    ---------------------
    ---------------------    
*/
body {
    font-family: 'Cabin Condensed', sans-serif;
}
h1 {
    font-size: 44px;
    font-weight: 800;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}

/*
    --------------------
    --------------------
        BOX MODEL
    --------------------
    --------------------
*/
.page-wrapper {
    max-width: 100vw;
    margin: 0 auto;
}
.intro {
    background: lightgreen;
}
.main,    
.supporting {
    background: lightblue;
}
.sidebar {
    background: yellow;
}
.intro,
.main,
.supporting,
.sidebar {
    max-width: 95vw;
    height: 100vh;
    
    /* centers sections*/
    margin: 0 auto; 
    padding: 5%;
    overflow-x: hidden;
}

/*
    -----------------------
    -----------------------
            INTRO
    -----------------------
    -----------------------
*/
.intro {
    background-color: #F6EDCE;
    overflow-y: hidden;
    height: 1000vh;
    padding-bottom: 20%;
}
header {
    max-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
/* "CSS Zen Garden" */
h1 {
    color: #3A170D;
    font-size: 3em;
    text-decoration: underline;
    margin-top: -4%;
    margin-bottom: 3%;
    text-align: center;
    position: relative;
    left: -4%;
}
/* "The Beauty of CSS Design" */
h2 {
    color: #5C2F27;
    max-width: 100%;
    font-size: 12em;
    letter-spacing: 10px;
    margin-bottom: 5%;
    text-align: justify;
}
h2::after{
    content: url(images/coffee-hot-cup.png);
    margin-left: 3%;
}
h1,
h2,
.summary {
    font-family: 'Lobster', cursive;
}
/* Subtitle */
.summary {
    letter-spacing: 1.2px;
    color: #3A170D;
    font-size: 1.4em;
    line-height: 1.2;
    letter-spacing: 1.8px;
    font-weight: 800;
    margin-bottom: 10%;
}
.preamble {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    height: 100vh;
}
    




    
